* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2252a7;
}

.card {
    width: 90%;
    max-width: 500px;
    background: linear-gradient(135deg, #a66a6a, #5b548a);
    color: #fff;
    margin: 300px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.search input {
    border: 0;
    outline: 0;
    background: #e1cdcd;
    color: #555;
    padding: 10px 25px;
    height: 70px;
    border-radius: 16px;
    flex: 1;
    margin-right: 16px;
    font-family: la;
    font-size: 25px;
}

.search button {
    border: 0;
    outline: 0;
    background: #5b548a;
    opacity: 0.8;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: all-scroll;
}

.search button img {
    width: 50px;
}

div img {
    padding-top: 0.3em;
}

.weather-icon {
    width: 120px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 540;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col img {
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 10px;

}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -4px;

}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}